html {background-color:#202429;}

@font-face {
    font-family: 'TitilliumText22L1wt';
    src: url('titilliumtext22l001-webfont.eot');
    src: url('titilliumtext22l001-webfont.eot?iefix') format('eot'),
         url('titilliumtext22l001-webfont.woff') format('woff'),
         url('titilliumtext22l001-webfont.ttf') format('truetype'),
         url('titilliumtext22l001-webfont.svg#webfontpvtspPjD') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumText22L600wt';
    src: url('titilliumtext22l004-webfont.eot');
    src: url('titilliumtext22l004-webfont.eot?iefix') format('eot'),
         url('titilliumtext22l004-webfont.woff') format('woff'),
         url('titilliumtext22l004-webfont.ttf') format('truetype'),
         url('titilliumtext22l004-webfont.svg#webfont6QQcA06I') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
  border:none;
}
body{
  margin:0;
  padding:25px 0 0 0;
  font:normal normal normal 16px/22px Helvetica, Arial, sans-serif;
  color:#E3E3E3;
  background-color: #202429;
}
#wrapper {
  width:960px;
  margin: 0 auto;
}

#badge {
  text-align:center;
  font-family:'TitilliumText22L1wt';
  font-size:36px;
}

h1, h2, h3 {
  font-family: 'TitilliumText22L600wt';
  font-weight: bold;
}

h2 {
  font-size:30px;
  margin-bottom:10px;
}

.people h2 {
  font-weight: normal;
}

p {
  margin-top:10px;
  font-size:24px;
  line-height:36px;
  margin-bottom:10px;
  font-family:'TitilliumText22L1wt';
}

a:link ,
a:visited {
  text-decoration: underline;
}
  
a:hover{text-decoration:underline;}


div.main-header {
  width:100%;
}

div.logo {
  text-align: center;
}

h5.date {
  font-family:'TitilliumText22L1wt';
  font-weight: normal;
  margin: 0px;
  font-size: 18px;
}

ul.nav {
  list-style-type: none;
  display:inline;
  float: right;
}

ul.nav li {
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}

ul.nav li a {
  padding: 4px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.section_start .logo h1,
.section_grenade .logo h1,
.section_blue .logo h1,
.section_beige .logo h1 {
  text-indent: 300px;
}

.section_start,
.section_grenade,
.section_blue,
.section_beige {
  padding-bottom:100px;
  min-height: 540px;
}

.section_start {
  padding-bottom: 200px;
}

div.header {
  margin-bottom: 100px;
}

.section_blue a.face img,
.section_blue .map img {
  padding: 15px;
  background-color: white;
}

.section_blue a.face {
  margin: 0px 10px 0 0;
  float: left;
}
.sponsors {
  text-align: center;
}

.sponsors a img {
  margin: 20px;
  vertical-align: middle;
}


/* Cloud stuff */

.cloud {
  position: relative;
  font-family:'TitilliumText22L1wt';
}

.cloud .day,
.cloud .month,
.cloud .city,
.cloud .country {
  position: absolute;
  color: #65425f;
}

.cloud .day {
  top: 38px;
  left: 96px;
  font-size: 62px;
}

.cloud .day .bold {
  font-family: 'TitilliumText22L600wt';
}

.cloud .month {
  left: 103px;
  font-size: 34px;
  top:84px;
}

.cloud .month .bold {
  font-family: 'TitilliumText22L600wt';
  font-weight: bold;
}

.cloud .city {
  left: 15px;
  font-size: 66px;
  top:128px;
  font-family: 'TitilliumText22L600wt';
}

.cloud .country {
  left: 60px;
  font-size: 21px;
  top:168px;
}

/* calendar */

.calendar {
  background: none repeat scroll 0 0 white;
  border-radius: 5px 5px 5px 5px;
  float: left;
  margin: 2px 10px 0 0;
  padding: 0px 0px 3px 0;
  width: 40px;
}

.calendar .month {
  border-radius: 5px 5px 0px 0px;
  display: block;
  line-height: 100%;
  text-align: center;
  font-size: 10px;
  text-align: center;
  color: white;
  width: 40px;
  padding: 3px 0;
  background-color: red;
}

.calendar .dayy {
  color: #0099CC;
  font-size: 22px;
  text-align: center;
  width: 40px;
  line-height: 100%;
  padding:5px 0 0 0;
  display: block;
}

table.calendarium {
  margin-top: 40px;
}

table {
  width: 700px;
}

table .cal {
  width: 60px;
}

table tr td {
  vertical-align: top;
}

table thead tr {
  background-color: #B5D447;
  color: black;
}

table thead tr th {
  padding: 3px;
}
table thead tr th:first-child {
  width: 70px;
}

table tbody tr td {
  padding: 5px;
}

table tbody tr:nth-child(2n) {
  background-color: #4a4a4a;
}

.bold {
  font-weight: bold;
}